<%- include('osasivupohjat/header', { cssTiedosto: 'sukupolvi.css', sivunOtsikko: 'Sukupolvisivu' }) %>
    <div class="sisältö">
      <% if (pokemonList && pokemonList.length) { %>
      <div class="pokemon-list">
        <% pokemonList.forEach(pokemon => { %>
        <div>
          <a href="<%= pokemon.url %>"><%= pokemon.name %></a>
        </div>
        <% }); %>
      </div>
      <% } else { %>
      <p>Ei löydy Pokemoneja tässä generaatiosta.</p>
      <% } %>
    </div>
    <%- include('osasivupohjat/footer', {footerinnimi: 'ROOPE', footerinteksti: 'Valitse!!' }); %>
  </body>
</html>
