<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/<%= cssTiedosto %>" />
    <nav>
      <li><a href="/">Takaisin pokedex etusivulle</a></li>
    </nav>
    <title><%= sivunOtsikko %></title>
  </head>
  <body>
    <form action="/pokemon" method="GET">
      <input type="text" name="nimi" placeholder="Etsi Pokemon..." required />
      <button type="submit">Etsi Pokemon, kokeile vaikka bulbasaur</button>
    </form>
  </body>
</html>
