<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/<%= cssTiedosto %>" />
    <nav>
      <li><a href="/">Takaisin pokedex etusivulle</a></li>
    </nav>
    <title><%= sivunOtsikko %></title>
  </head>
  <body></body>
</html>
